@{
    ViewBag.Title = "AboutBlood| Blood Donation System";
}
<br    /><br /><br    /><br />
<div class="row">
    <div class="col-md-1" ></div>
    <div class="col-md-7" style="font-family:Arial; font-size:15px; color:GrayText">
        <h1 style="color:red">About Blood</h1>
        <p>
            The ABO blood group system was discovered by Karl Landsteiner in 1900. 46 years later (1946) the Blood Transfusion Service was formed. In 1996 the National Blood Service was formed to collect and provide blood supplies for all the hospitals in England and North Wales. We then merged with UK Transplant to create NHS Blood and Transplant.

8,000 units of blood are needed every day to meet hospital demand. Blood comes in four main types - O, A, B and AB. Group O is the most common which means it is in high demand. Blood can also be subdivided into its main components - red cells, white cells, platelets and plasma. Unfortunately red cells only have a shelf-life of 35 days, while platelets shelf life is even less, only five days.

Almost anyone between the ages of 17 and 65 can become a new blood donor. And those who are regular donors can continue to donate as long as they are in good health.

Last year we collected 2.1 million donations from about 1.6 million donors. Although that sounds a lot, it reflects only 4% of the population, giving two or three times a year.

The average adult has around 5 trillion red blood cells in one litre of blood. Which means you have on average 25 trillion red cells running around inside you, although 25 million (or 0.1%) of them die every day. That works out at roughly 300 a second.

William Harvey was the first physician to discover that blood circulates round the body back in 1628. Sir Christopher Wren (St Paul's Cathedral Christopher Wren) actually injected fluids into the circulation of animals, using an instrument invented by the aforementioned Mr Harvey.

The first successful blood transfusion was carried out in 1665 by Dr Richard Lower. He used dogs as the donor and recipient. However, when they started performing transfusions on humans, they couldn't understand why the people receiving the blood kept dying. It wasn't until 1900 that Dr Karl Landsteiner discovered the ABO blood group system and realised that human patients needed to be given compatible blood. He got the Nobel Prize for his discovery.

46 years later (1946) the Blood Transfusion Service was formed. In 1996 the National Blood Service was formed to collect and provide blood supplies for all the hospitals in England and North Wales. We then merged with UK Transplant to create NHS Blood and Transplant.
        </p>
        <h1 style="color:red">Blood Donation: Who can give blood?</h1>
        <p>
            You are eligible to donate blood if you are in good health, weigh at least 110 pounds and are 17 years or older.

You are not eligible to donate blood if you:</p>
    <ul>
    <li>Have ever used self-injected drugs (non-prescription)</li>
    <li>Had hepatitis</li>
    <li>Are in a high-risk group for AIDS</li>
        </ul>
        <p>
The FDA regulation states that a male who has had sex with another male (MSM) at any time since 1977 is prohibited from donating as a volunteer (males who have had sex with other males are allowed to donate for their own health). Some health considerations or medications may require temporary deferral from donating blood. Donor eligibility is determined at the time of donation by trained personnel. See Basic Eligibility Guidelines for more details.
        </p>
        <h1 style="color:red">Basic Eligibility guidline:</h1>
        <p>
            <span style="font-weight:bold">Age:</span> You must be at least 17 years old to donate to the general blood supply. There is no upper age limit for blood donation as long as you are well with no restrictions or limitations to your activities.</p>

<p><span style="font-weight:bold">High Blood Pressure:</span> Acceptable as long as your blood pressure is below 180 systolic (first number) and below 100 diastolic (second number) at the time of donation. Medications for high blood pressure do not disqualify you from donating.

<p><span style="font-weight:bold">Body Piercing:</span> You must not donate if you have had a tongue, nose, belly button or genital piercing in the past 12 months (donors with pierced ears are eligible).

<p><span style="font-weight:bold">Cold and Flu:</span> Wait if you have a fever or a productive cough (bringing up phlegm). Wait if you do not feel well on the day of donation. Wait until you have completed antibiotic treatment for sinus, throat or lung infection.

<p><span style="font-weight:bold">Diabetes:</span> Acceptable as long as it is well controlled, whether medication is taken or not.

<p><span style="font-weight:bold">Diet:</span> A meal is recommended at least four hours prior to donation. Drink plenty of fluids.

<p><span style="font-weight:bold">MSM:</span> Men who have had sex with other men, at any time since 1977 (the beginning of the AIDS epidemic in the United States) are currently deferred as blood donors. This is because MSM are, as a group, at increased risk for HIV, hepatitis B and certain other infections that can be transmitted by transfusion.

<p><span style="font-weight:bold">Tattoos:</span> One-year deferral.

<p><span style="font-weight:bold">Travel:</span> Please refer to Centers for Disease Control and Prevention. If you need further assistance please call UCSF Blood Center (415) 353-1809.

<p><span style="font-weight:bold">Weight:</span> You must weigh at least 110 pounds to be eligible for blood donation for your own safety. Blood volume is in proportion to body weight. Donors who weigh less than 110 pounds may not tolerate the removal of the required volume of blood as well as those who weigh more than 110 pounds. There is no upper weight limit as long as your weight is not higher than the weight limit of the donor bed or lounge you are using. You can discuss any upper weight limitations of beds and lounges with your local health historian.

<br />Other criteria that will be assessed at the time of donation such as (list is not all inclusive):<br />

Hemoglobin, Travel, Cancer, Medications, Hepatitis, and HIV Risk:</p>
        <ul>
    <li>Intravenous drug abusers: HIV, HBV, HCV and HTLV</li>
    <li>Transplant patients: animal tissue or organs</li>
    <li>People who have recently traveled to or lived abroad in certain countries may be excluded because they are at risk for transmitting agents such as malaria or variant Creutzfeldt-Jakob Disease (vCJD).</li>
            </ul>
       <h1 style="color:red" >Blood Types</h1>
        <p>Although all blood is made of the same basic elements, not all blood is alike. In fact, there are eight different common blood types, which are determined by the presence or absence of certain antigens – substances that can trigger an immune response if they are foreign to the body. Since some antigens can trigger a patient's immune system to attack the transfused blood, safe blood transfusions depend on careful blood typing and cross-matching.</p>
       <h4 style="color:red" >ABO Blood System</h4>
        <p>There are four major blood groups determined by the presence or absence of two antigens – A and B – on the surface of red blood cells:</p>
    <ul>
   <li> Group A – has only the A antigen on red cells (and B antibody in the plasma)</li>
    <li>Group B – has only the B antigen on red cells (and A antibody in the plasma)</li>
    <li>Group AB – has both A and B antigens on red cells (but neither A nor B antibody in the plasma)</li>
    <li>Group O – has neither A nor B antigens on red cells (but both A and B antibody are in the plasma)</li>
        </ul>
        <p>There are very specific ways in which blood types must be matched for a safe transfusion. See the chart below: </p>
        <img src="~/Content/Images/Chart.jpg" class="img-responsive"/>
        <h3 style="color:red">Blood Types and Populations</h3>
        <img src="~/Content/Images/pc.jpeg" class="img-responsive"/>
    </div>
    <div class="col-md-2"><img src="~/Content/Images/drop.jpg" class="img-responsive"/><br /><br /><img src="~/Content/Images/dr.jpg" class="img-responsive"/><br /><br /><br /><br /><img src="~/Content/Images/drop2.jpg" class="img-responsive" /><br /><br /><br /><br /><img src="~/Content/Images/drop3.jpeg" class="img-responsive"/><br /><br /><br /><br /><br /><br /><br /><br /><img src="~/Content/Images/drop4.jpg" class="img-responsive"/></div>
</div><br /><br /><br /><br />
