p@{
    ViewBag.Title = "Quotations| Blood Donation System";
}


<br /><br /><br /><br /><br />

<div class="container">
  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size:20px">Quotation # 1:</div>
      <div class="panel-body" style="font-size:20px">Save Life, It's in Your Blood</div>
    </div>

    <div class="panel panel-primary"style="font-size:20px">
      <div class="panel-heading">Quotation # 2:</div>
      <div class="panel-body"style="font-size:20px">Share a little, care a little</div>
    </div>  

    <div class="panel panel-success">
      <div class="panel-heading"style="font-size:20px">Quotation # 3:</div>
      <div class="panel-body"style="font-size:20px">Hava a big Heart, Give blood</div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading"style="font-size:20px">Quotation # 4:</div>
      <div class="panel-body"style="font-size:20px">Be a Hero, Please Give Blood</div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading"style="font-size:20px">Quotation # 5:</div>
      <div class="panel-body"style="font-size:20px">Do something amazing register as a blood donors</div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading"style="font-size:20px">Quotation # 6:</div>
      <div class="panel-body"style="font-size:20px">You don't have to be doctors to save life</div>
    </div>
  </div>
</div>