@{
    ViewBag.Title = "Index | Blood Donation system";
    
}


    
        <br    /><br />
        
        <div class="row" style="font-size:15px">
            <div class="col-md-1">
                </div>
            <div class="col-md-6">
                <h1 style="color:red; font-family:'Times New Roman'">Share a little, Care a little.</h1>
                <h3>Blood Donation System, Where Accepters Meets with Donors.</h3>
                <p>This is a simple site design for facilitate the patient, If you want to help other by giving blood and you surely want to save someone life. Then make a profile of yours. If anyone need blood and  your blood group match with the patient blood group we will show your info to the accepter.And accepter can contact with you.</p>
                <p>So don't miss the chance and Get your self Registered as a BLOOD DONOR and become a SUPER HERO..!!!</p>
                <a href="~/My/Register" class="btn btn-primary btn-lg ">Register</a>
				<a href="~/My/NeedBlood" class="btn btn-primary btn-lg ">Need Blood</a>
            </div>
            
            <div class="col-md-5">
                <img src="~/Content/Images/people.jpg" class="img-responsive">
            </div>

        </div><br /><br /><br /><br /><br /><br /><br /><br />
        

 




