@{
    ViewBag.Title = "Thankyou";
}
<br /><br /><br /><br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <img src="~/Content/Images/feedbackThankyou.png" class="img-responsive"/>
        </div>
</div>
